<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avance bandas mascotas WoW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/agricola.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        {{ form }}
{#        <h3>Rasganorte</h3>#}
{#        <div class="custom-control custom-switch">#}
{#            <label class="custom-control-label" for="ulduar">Ulduar</label>#}
{#            <input class="custom-control-input" type="checkbox" value="false" id="ulduar">#}
{#        </div>#}
{#        <div class="form-check">#}
{#        <input class="form-check-input" type="checkbox" value="" id="cruzado">#}
{#        <label class="form-check-label" for="cruzado">#}
{#            Prueba del cruzado#}
{#        </label>#}
{#        </div>#}
{#        <div class="form-check">#}
{#        <input class="form-check-input" type="checkbox" value="" id="ciudadela">#}
{#        <label class="form-check-label" for="ciudadela">#}
{#            Ciudadela de Corona de Hielo#}
{#        </label>#}
{#        </div>#}
    </div>
</body>
</html>